{% extends "two_cents/extends/main.html" %}

{% block main %}
<p>
<button id="add-bank">Add Bank</button>
</p>

{% for bank in banks.all %}
<p>
  <h2>
    {{ bank.title }}
    <button class="fa fa-question-circle btn btn-link"
       data-toggle="tooltip"
       data-trigger="click"
       title="Hello world">
    </button>
  </h2>

  <ul>
    <li><button disabled>Update credentials</button></li>
    <li><button disabled>Delete</button></li>
  </ul>

  <dl>
  {% for account in bank.plaid_account_set.all %}
    <dt>{{ account.title }}</dt>
    <dd>
      <ul>
        <li>****-****-****-{{ account.last_digits }}</li>
        <li>Balance: ${{ account.balance }}</li>
        <li>Last Update: {{ account.last_update | date:'n/d/Y' }}
        <li><button class="toggle-account" value={{ account.id }}>Ignore</button></li>
      </ul>
    </dd>
  {% endfor %}
  </dl>
</p>
{% endfor %}

<h2>To Do</h2>
<ul>
  <li>Something to indicate loading after plaid link completes and before the 
    account information is all downloaded.</li>
  <li>OFX accounts</li>
  <li>Update/delete plaid credentials</li>
</ul>

{% endblock %}

{% block body_javascript %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script type="text/javascript">
    var handler = Plaid.create({
      clientName: 'Two Cents',
      apiVersion: 'v2',
      env: '{{ plaid_environment }}',
      key: '{{ plaid_public_key }}',
      product: ['transactions'],
      webhook: '{{ webhook_url }}',
      onSuccess: function(public_token, metadata) {
        // Send the public_token to your app server.
        // The metadata object contains info about the institution the
        // user selected and the account ID or IDs, if the Select Account
        // view is enabled.
        $.ajax({
          url: '{% url "2c_banks_add" %}',
          type: 'post',
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(metadata),
          headers: {
            'X-CSRFToken': Cookies.get('csrftoken'),
          },
          success: function(data, status, response) {
            window.location.reload(true);
          },
        });
      },
      onExit: function(err, metadata) {
        // The user exited the Link flow.
        if (err != null) {
          // The user encountered a Plaid API error prior to exiting.
        }

        // metadata contains information about the institution
        // that the user selected and the most recent API request IDs.
        // Storing this information can be helpful for support.
        console.log(metadata)
      },
    });

    $('#add-bank').on('click', function(e) {
      handler.open();
    });

    $('.toggle-account').on('click', function(e) {
      console.log("Sending AJAX:", JSON.stringify({
          'account_id': $(this).val(),
        }))
      $.ajax({
        url: '{% url "2c_accounts_toggle" %}',
        type: 'post',
        data: JSON.stringify({
          'account_id': $(this).val(),
        }),
        success: function(data, status, response) {
          console.log(data);
          label = data['ignore'] ? "Unignore" : "Ignore"
          $(".toggle-account[value="+data['account_id']+"]").html(label)
        },
        error: function(request, status, info) {
          alert(request["responseText"]);
        },
        headers: {
          'X-CSRFToken': Cookies.get('csrftoken'),
        },
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
      })
    });

    /* Enable bootstrap tooltips everywhere on this page. */
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    function showToolTip(element) {
      console.log("Tooltip clicked:");
      console.log(element);
      console.log($(element).find('.mytooltiptext'))
      var popup = $(element).find('.mytooltiptext').toggleClass('show');
    }

</script>
{% endblock %}

