{% extends "two_cents/extends/main.html" %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}

{% block main %}
<p>
<button class="btn btn-primary" id="link-button">Add Bank</button>
</p>

{% for bank in banks.all %}
  <p>
  <h2>{{ bank.title }}</h2>
  <ul class="list-group">
  {% for account in bank.account_set.all %}
    <li class="list-group-item flex-column">
        <h3>{{ account.title }}</h3>
        <small>{{ account.last_digits }}</small>
        <div class="h-100"/>
        <p>$17,000</p>
        <div>
          Last update: {{ account.last_update | date:'n/d/Y' }} |
          Remove <i class="fa fa-question-circle"></i>
        </div>
    </li>

  {% endfor %}
  </ul>
  </p>
{% endfor %}

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script type="text/javascript">
  var handler = Plaid.create({
    clientName: 'Two Cents',
    env: 'sandbox',
    key: '{{ plaid_public_key }}',
    product: ['transactions'],
    webhook: '{% url '2c_accounts_sync' $}',
    onSuccess: function(public_token, metadata) {
      // Send the public_token to your app server.
      // The metadata object contains info about the institution the
      // user selected and the account ID or IDs, if the Select Account
      // view is enabled.
      $.ajax({
        url: '{% url '2c_accounts_add' %}',
        type: 'post',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(metadata),
        headers: {
          'X-CSRFToken': Cookies.get('csrftoken'),
        },
      });
    },
    onExit: function(err, metadata) {
      // The user exited the Link flow.
      if (err != null) {
        // The user encountered a Plaid API error prior to exiting.
      }
      // metadata contains information about the institution
      // that the user selected and the most recent API request IDs.
      // Storing this information can be helpful for support.
    },
  });

  $('#link-button').on('click', function(e) {
    handler.open();
  });
</script>
  
{% endblock %}
