{% extends "two_cents/extends/main.html" %}

{% block main %}
<form action="{% url "2c_budgets" %}" method="post">
  {% csrf_token %}
  <h2>Income</h2>
  <table>
    {{ forms.income }}
  </table>

  <h2>Bills</h2>
  <p>Bills are for things that you can't easily change, like rent and 
  utilities.</p>
  <table>
    {{ forms.bill }}
  </table>

  <h2>Budgets</h2>
  <p>Budgets are for things that you can decide how much to spend on, like 
  groceries, clothing, etc.</p>
  <table>
    {{ forms.budget }}
  </table>

  <button>Save</button>
</form>

<h2>To Do</h2>
<ul>
  <li>Organize forms.  A table would be nice on big screens; I wonder if 
    bootstrap has something that would scale down nicely.</li>
  <li>Allow the budgets to be rearranged</li>
  <li>Javascript to keep bills and budgets negative</li>
  <li>Be smarter about the "family" prompt.  Don't ask if the
    "personal" family is the only one, and otherwise don't include the 
    "personal" family in any prompts.</li> 
  <li>Javascript to add/remove forms</li>
  <li>Javascript to update balance in real time</li>
  <li>Somehow warn the user that they should only change the balance if they 
    really mean it.</li>
  <li>Syntax to divide leftover cash flows</li>
</ul>

{% endblock %}
