{% extends "two_cents/extends/main.html" %}

{% block main %}
<h2>Transactions</h2>

<form action="{% url "2c_transactions" %}" method="post">
  {% csrf_token %}

  <ul class="list-group">
  {% for txn, form in forms %}
    <li>
      <dl>
        <dt>Account</dt>
        <dd>{{ txn.account.title }}</dd>

        <dt>Amount</dt>
        <dd>{{ txn.amount }}</dd>

        <dt>Date</dt>
        <dd>{{ txn.date }}</dd>

        <dt>Description</dt>
        <dd>{{ txn.description }}</dd>

        <dt>Assigned to</dt>
        <dd><table>{{ form }}<table></dd>
      </dl>
    </li>
  {% endfor %}
  </ul>
  <button>Save</button>
</form>

<h2>To do</h2>
<ul>
  <li>Amount is only required if the transaction is being split.</li>
  <li>Determine if transactions are fully assigned.</li>
  <li>Actually subtract from budget (and add to old budget if being reassigned).</li>
</ul>


{% endblock %}
