{% extends "two_cents/extends/main.html" %}

{% block content %}
  <p>
  Budgets exist to answer one question: Should I be trying to save right now, 
  or can I afford to splurge a little?
  </p>

  <p>
  When it comes to trying to save money, there are two types of purchases: 
  those that are necessities and those that are luxuries.  Necessities include 
  things like bills and groceries --- things that you can't easily cut back on.  
  Luxuries are things like going out to eat, ordering books online, or getting 
  coffee in the morning --- things that you could stop doing to save money.
  </p>

  <p>
  Cutting down spending on necessities is perhaps the best way to save money, 
  but doing so often involves some significant effort such as moving apartments 
  or paying down loans.  You should keep an eye out for these opportunities, 
  but a budget can't really help you with that.
  </p>
  
  <p>
  What a budget can help you with is knowing whether or not to spend on 
  luxuries.  When you're making a decision about buying something, your budget 
  should chime in with a simple "Go for it!" or "Maybe later...".  Making 
  charts and tracking spending patterns is all well and good, but chiming in 
  like this is a budget's most important job.
  </p>

  <p>
  Two Cents was built with this philosophy in mind from the ground up.  You 
  tell it how much money you want to budget for certain things (e.g.  $200/mo 
  for groceries, $100/mo for luxuries, etc.) then you assign each of your 
  transactions to those budgets.  Two Cents will add everything up and present 
  you with a simple suggestion to either spend or save, updated every second.
  </p>

  <p>
  Compare that to budgeting systems which keep monthly totals for you to track.  
  These systems don't do as good of a job letting you know whether to spend or 
  save.  For example, imagine a scenario where you're in a supermarket trying 
  to decide whether to buy a fancy steak for dinner.  You check your budget, 
  and it tells you that you have $78 left to spend on groceries this month.  
  But that's not really what you need to know, because it forces you to 
  consider how much of the month is left, and how much you expect to spend on 
  groceries in that time.  Most people aren't very good at considering these 
  things, so they end up spending too much at the beginning of the month and 
  feeling pinched (or just going over) at the end.
  </p>
  
  <p>
  Try Two Cents today: <a href="user/sign-up">Sign up here!</a>
  </p>

{% endblock %}
